<!DOCTYPE html>
<html lang="{{ site.lang | default: "zh-Hant-TW" }}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% seo %}
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.css"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>

<body>
    {% include navigation.html %}
    {% include header.html %}
    <section class="markdown-body">
      {{ content }}
    </section>
    {% include footer.html %}
</body>
<script src="/assets/js/main.js"></script>
</html>